{
  "parser": "@typescript-eslint/parser",
  "root": true,
  "plugins": [
    "react-hooks"
  ],
  "extends": [
    "prettier",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "no-unused-vars": 1,
    "import/prefer-default-export": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extentions": ["js", "jsx", "css", "scss", "ts", "tsx"]
      }
    }
  }
}
